.commentbox {
  margin: 15px 0;
  width: 100%;
  text-align: center;
}

.map {
  width: 100%;
  height: 100vh;
}

.alert-primary {
  color: $primary-color;
  width: 50%;
  align-self: center;
  text-align: center;
}
