<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light navigation">
    <a class="navbar-brand" href="/featured"><i class="fas fa-bicycle"></i> Bike a'River</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/featured"><i class="fas fa-home"></i> Home</a>
        </li>
        <% if (locals.isLoggedIn) { %>
          <li class="nav-item">
          <a class="nav-link" href="/trips">All routes</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/trips/new">Add a trip</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
          </li>
          <% } else { %>
            <li class="nav-item">
            <a class="nav-link" href="/login"><i class="fas fa-user"></i> Sign in</a>
            </li>
            <li class="nav-item">
            <a class="nav-link register" href="/register"><i class="fas fa-user-plus"></i> Sign up</a>
            </li>
            <% } %>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Search route" aria-label="Search" name="search">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Go!</button>
          </form>
        </div>
      </nav>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Bike a'River</h1>
          <p class="lead">Adventure on two wheels</p>
        </div>
      </div>
    </header>
