.navigation {
  text-transform: uppercase;
  font-family: $font2;
  z-index: 10;
}

.bg-light {
  background: #ADA996;
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
}

.navbar-light .navbar-nav .nav-link {
  color: $primary-color;
}
