// import scss partials here
@import 'helpers/variables';

@import 'partials/base';
@import 'partials/typography';


@import 'components/landing';
@import 'components/navbar';
@import 'components/jumbo';
@import 'components/footer';

.commentbox {
  margin: 15px 0;
  width: 100%;
  text-align: center;
}
