<%- include ../partials/_header %>

<div class="container">
  <div class="row">
    <form class="col-md-6 offset-md-3" method="POST" action="/trips">
      <h1>Add a new trip</h1>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="trip name" name="name">
      </div>
      <div class="form-group">
        <label for="river">River</label>
        <input type="text" class="form-control" name="river" id="river" placeholder="name of the river">
      </div>
      <div class="form-group">
        <label for="startPoint">Start point</label>
        <input type="text" class="form-control" name="startPoint" id="startPoint" placeholder="latitute longitude https://www.latlong.net/">
      </div>
      <div class="form-group">
        <label for="endPoint">End point</label>
        <input type="text" class="form-control" name="endPoint" id="endPoint" placeholder="latitute longitude https://www.latlong.net/">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" name="description" id="description" rows="3"></textarea>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="terms-and-conditions"><small>I agree to the Terms &amp; Conditions</small></label>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Submit trip</button>
    </form>
  </div>
</div>
